# Configs do ambiente de desenvolvimento
application/configs/overload.ini

# Zend Framework (Teste)
application/controllers/TesteController.php
application/views/scripts/teste
public/css/teste
public/js/teste

application/controllers/PluploadController.php
application/views/scripts/plupload/index.phtml
public/css/plupload/index.scss
public/js/plupload/index.js

# Sublime Text
*.sublime-workspace
.phpintel
.sublime-grunt.cache

# Composer
/vendor/
composer.lock

# Node.js
node_modules

# System files
*.DS_Store
desktop.ini